<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}};
</head>
<body>
    {{>navbar}};

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <div class="resizeimg"><img src="images/iabt.jpg" alt="sakshi" class="img-fluid" title="sakshi wanare"></div>
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="textclr">Mern Stack Developer</span> Competitive Programmer And A Civil Engineer</h1>
                        <a href="https://www.thapatechnical.com/" target="_thapa"><button>About me</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}};
</body>
</html>